body {
  background-color: #FFFFFF;
  font-family: 'PT Sans', sans-serif;

}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.comp-aut-method {
  border: none;
  padding: 1rem 2rem;
  width: 320px;
  font-family: PT Sans, sans-serif;
  color: black;
}

.progress-bar {
  color: royalblue;
  font-size: 0.85rem;
  margin-bottom: 1rem;
}

.progress-bar .bar {
  height: 5px;
  background: #eee;
  width: 100%;
  border-radius: 4px;
  margin-top: 0.25rem;
}

.progress-bar .fill {
  height: 5px;
  background: royalblue;
  border-radius: 4px;
  width: 0%;
}


.section-title {
  color: royalblue;
  font-weight: bold;
  font-size: 0.95rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.auth-option {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0.5rem 0;
  font-size: 0.95rem;
}

.auth-option .circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid black;
  margin-right: 0.5rem;
  display: inline-block;
}

.auth-option .circle.selected {
  background-color: royalblue;
  border-color: royalblue;
}

.auth-option .label {
  color: black;
}

.auth-option .label.selected {
  font-weight: bold;
}

.comp-round-button-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
  cursor: pointer;
  font-size: 0.95rem;
}

.round-button {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: white;
  display: inline-block;
}

.round-button:hover {
  background-color: #f0f0f0;
}

.round-button.selected {
  background-color: royalblue;
  border-color: royalblue;
}

.selected-label {
  font-weight: bold;
  color: black;
}