
:root {
  --blue-autGov: #3C5DBC;
  --grey-autGov: #D9D9D9;
  --white-autGov: #FFFFFF;
  --black-autGov: #000000;
  --warning-autGov: #FFF0CB;
  --bar-autGov: #DBE1F2;
}

body {
  font-family: 'PT Sans', sans-serif;
}

.dflx {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dflxc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dinflx {
  display: inline-flex;
  justify-content: center;
}

.g20 {
  gap: 20px;
}

.g10 {
  gap: 10px;
}

.g5 {
  gap: 5px;
}

.txt-center {
  text-align: center;
}

.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pt-sans-regular-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.pt-sans-bold-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.blue-autGov {
  color: var(--blue-autGov);
}

.grey-autGov {
  color: var(--grey-autGov);
}

.white-autGov {
  color: var(--white-autGov);
}

.black-autGov {
  color: var(--black-autGov);
}

.warning-autGov {
  color: var(--warning-autGov);
}

.bar-autGov {
  color: var(--bar-autGov);
}

