@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --blue-autGov: #3C5DBC;
  --grey-autGov: #D9D9D9;
  --white-autGov: #FFFFFF;
  --black-autGov: #000000;
}

.dflx {
  display: flex;
  justify-content: center;
  align-items: center;
}

.g20 {
  gap: 20px;
}

.g10 {
  gap: 10px;
}

.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pt-sans-regular-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.pt-sans-bold-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.blue-autGov {
  color: var(--blue-autGov);
}

.white-autGov {
  color: var(--white-autGov);
}

.black-autGov {
  color: var(--black-autGov);
}


